/* create main text for question as larger than answers
have 4 answers in a collumn
view scores should show in top left and be purple
high scores should have a purple background */
*{
    margin: 0;
    padding: 0;
}

.quiz-body {
    position: absolute;
    width: 500px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -250px;

}